body {
    line-height: 1.4;
    background: #1d2021 url("img/background.jpg");
    background-size: 512px;
    color: #ebdbb2;
}

body, pre, code {
    font-family: 'Fira Mono', monospace;
    font-size: 16px;

    /* Fix OS X font rendering making all text bold  */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

h1,h2,h3,h4,h5,h6 {
    color: #fbf1c7;
    margin-top: 2.6rem;
}

h1 {
    margin-top: 0.3rem;
    margin-bottom: 2.6rem;
    font-size: 2.2rem;
}

h1 a, h2 a, h3 a {
    color: #fbf1c7;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    color: #1d2021;
    background-color: #fbf1c7;
}

h2 {
    margin-top: 2.6rem;
}

p, ul, pre {
    margin: 1.3rem 0;
}

ul {
    list-style-type: square;
}

#content {
    min-width: 384px; /*40ch*/
    max-width: 768px; /*80ch*/
    margin: 0 auto;
    padding: 100px 0;
}
@media only screen and (max-width: 1080px) {
    #content {
        padding: 50px 0;
    }
}
@media only screen and (max-width: 950px) {
    #content {
        padding: 20px 10px;
    }
}
@media only screen and (max-width: 425px) {
    #content {
        padding: 10px 5px;
    }
}

nav #host {
    color: #b8bb26;
    font-weight: bold;
}
nav #host:hover {
    background-color: #b8bb26;
    color: #1d2021;
}

nav .path {
    color: #83a598;
}
nav .path:hover {
    background: #83a598;
    color: #1d2021;
}

a {
    color: #8ec07c;
    text-decoration: none;
}

a:hover {
    color: #1d2021;
    background-color: #8ec07c;
    text-decoration: none;
}

code {
    color: #fabd2f;
}

pre {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    background: #282828 url("img/hip-square.jpg");
    background-attachment: local;
    overflow: auto;
}

footer {
    margin-top: 3.9rem;
    text-align: right;
    color: #bdae93;
}

.feed {
    background-image: url("img/feed.png");
    background-position: center right;
    background-size: 0.7em;
    background-repeat: no-repeat;
    padding-right: 1.2em;
}

[href^="ftp"]::after,
[href^="http"]::after {
    content: "↪";
    padding-left: 0.33rem;
    white-space: nowrap;
    color: #ca480e;
}
